node_modules/
.env
serviceAccountKey.json
five-letter-words.txt
firebase-debug.log
ui-debug.log
updateWordList.js
five-letter-test.txt
config.json
_word-list.json
checkSessions.js
updateHardWordList.js