/node_modules
/contracts/test.sol
/contracts/sypherpals.sol
/scripts
/cache
/artifacts
/assets/logo(old).png
/public/airdrop.js
.obsolete
hardhat.config.js
serviceAccountKey.json
*five-letter-words.txt
.env
*.log
firebase-debug.log
.firebase/hosting.cHVibGlj.cache
.vs
public/five-letter-words
public/dev.js
public/endpoints.json
public/template.html
public/sypherpals.js
public/analytics.js
.vscode
/contractsignore