/node_modules
/contracts/deSypher.sol
/contracts/gamemanager.sol
/scripts
/cache
/artifacts
/assets/logo(old).png
/public/airdrop.js
airdrop-list.json
hardhat.config.js
serviceAccountKey.json
*five-letter-words.txt
.env
*.log
firebase-debug.log
.firebase/hosting.cHVibGlj.cache
.vs
public/five-letter-words
public/dev.js
public/endpoints.json