/* #region Root Content */
:root {
    /* Coinbase Blue */
    --coinbase-blue: #0052ff;

    /* deSypher Main Colors */
    --desypher-green-main: #2dc60e;
    --desypher-green-bright: #39e016;
    --desypher-green-dark: #166009;
    --desypher-green-ultradark: #0f3e07;
    --desypher-yellow-main: #ffff00;

    /* Glow Colors */
    --glow-green-main: #00ff00c2;
    --glow-green-secondary: #00ff009e;
    --glow-green-dark: #00ff005f;
    
    /* Game Colors */
    --correct: chartreuse;
    --misplaced: yellow;
    --incorrect: red;

    --background-gradient: linear-gradient(to left, #041f00 1%, black 99%);

    --font-color: white;

    --footer-height: 80px;
}
.link {
    color: var(--desypher-green-main);
    text-decoration: none;
    font-weight: bold;
}
.link:hover {
    font-style: bold;
    text-transform: uppercase;
    cursor: pointer;
    animation: sheenFont 1s infinite;
}
.header {
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 5000;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    color: var(--font-color);
    background-color: black;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/background.webp');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;
}
#dev-tools {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seo-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* #endregion Root Content */

/* #region Home Page */

/* #region Game Logo Section */
.game-logo-container {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
.game-logo, #mobile-game-logo, #master-sypher-logo {
    max-width: 80%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    align-self: center;
}
.game-logo {
    animation: fadeInFont 1.5s;
    animation-timing-function: ease-in;
}
#master-sypher-logo {
    display: none;
    animation: fadeInFont 1.5s;
    animation-timing-function: ease-in;
}
.mobile-game-logo-container {
    opacity: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--desypher-green-bright);
    max-height: 75px;
    margin-bottom: 20px; 
    animation: tvScreenOn .5s forwards;
}
#mobile-game-logo {
    opacity: 0%;
    scale: 25%;
    display: none;
    align-self: center;
    height: auto;
    margin: 10px;
    animation: fadeInFont .5s forwards;
    animation-delay: .25s;
}
/* #endregion Game Logo Section */

/* #region Wallet Connect Section */
.wallet-connection-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    top: 15px;
    right: 15px;
    max-width: 175px;
    width: 100%;
    z-index: 1000;
}
#connect-button {
    opacity: 0%;
    border-radius: 10px;
    padding: 10px 20px;
    background: black;
    width: 100%;
    border-color: var(--desypher-green-main);
    border-style: solid;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    color: var(--font-color);
    cursor: pointer;
    font-family: monospace, sans-serif;
    text-align: right;
    text-wrap: nowrap;
    z-index: 1001;
    animation: transitionRight .5s forwards;
    animation-delay: 0.1s;
}
#connect-button-text {
    text-overflow: clip;
}
#connect-button:hover {
    scale: 1.05;
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    color: var(--font-color);
    border-color: var(--desypher-green-main);
}
#base-logo {
    display: none;
    opacity: 0%;
    position: fixed;
    top: -23px;
    right: 100px;
    z-index: 1001;
    animation: transitionBaseLogo .5s forwards;
    animation-delay: .15s;
}
.wallet-details-container {
    width: 100%;
    max-width: 97%;
    z-index: 500;
    position: relative;
    top: -20px;
}
#wallet-details-section {
    opacity: 0%;
    background: black;
    border-radius: 10px;
    border: var(--desypher-green-ultradark) 1px solid;
    border-top: black;
    font-size: small;
    padding: 10px 20px;
    padding-top: 20px;
    border-style: solid;
    animation: foldOut 1s forwards;
    animation-delay: .5s;
    transform-origin: top;
}
#token-balance-section {
    opacity: 0%;
    animation: transitionWipeLeft .5s forwards;
    animation-delay: .75s;
}
#rewards-balance-section {
    opacity: 0%;
    animation: transitionWipeLeft .5s forwards;
    animation-delay: .95s;
}
#claim-rewards-button {
    opacity: 0%;
    color: var(--font-color);
    background: var(--background-gradient);
    border: black;
    border-right: 2px solid var(--desypher-green-main);
    font-size: 12px;
    font-style: bold;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    text-wrap: nowrap;
    padding: 2px 6px;
    cursor: pointer;
    z-index: 1;
    animation: transitionWipeLeft .75s forwards;
    animation-delay: 1.15s;
}
#claim-rewards-button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 75%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    animation: sheen 1s infinite;
}
/* #endregion Wallet Connect Section */

/* #region Rules Dropdown Section */
.how-to-play-button {
    opacity: 0%;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    padding: 10px 20px;
    max-width: 150px;
    width: 100%;
    background: var(--desypher-green-bright);
    color: black;
    border: black;
    border-radius: 10px;
    border-color: var(--desypher-green-bright);
    border-style: solid;
    cursor: help;
    text-align: center;
    font-family: monospace, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    animation: transitionLeft 1s forwards;
    animation-delay: .5s;
}
.how-to-play-button:hover {
    scale: 1.05;
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    color: var(--font-color);
}
.how-to-play-container {
    display: none;
    position: absolute;
    background-color: black;
    border: 2px solid var(--glow-green-dark);
    border-radius: 10px;
    max-width: 1400px;
    width: 90%;
    text-align: left;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    padding: 12px 16px;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.how-to-play-container.show {
    display: block;
    animation: fadeIn 0.5s ease;
}
.how-to-play-content {
    padding: 10px 20px;
}
/* #region Color Key Section */
.color-key {
    list-style-type: none;
    padding: 0;
}
.color-key li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.color-box {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #000000;
    display: inline-block;
}
.color-box.correct {
    background-color: var(--correct);
}
.color-box.misplaced {
    background-color: var(--misplaced);
}
.color-box.incorrect {
    background-color: var(--incorrect);
}
/* #endregion Color Key Section */

#keyboard-button {
    display: block;
    position: fixed;
    top: 65px;
    left: 60px;
    z-index: 1001;
    color: var(--desypher-green-dark);
    animation: glow-sheen 1.5s infinite;
}
#keyboard-button:hover {
    color: var(--desypher-green-main);
    text-shadow: 0 0 15px var(--glow-green-main), 0 0 30px var(--glow-green-secondary);
    cursor: pointer;
}
#keyboard-helper {
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: monospace, sans-serif;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}
.keyboard-row {
    display: flex;
    margin: 5px;
}
.keyboard-button {
    flex: 1 1 auto;
    display: inline-block;
    position: sticky;
    min-width: 35px;
    max-width: 60px;
    height: 20px;
    border: 2px solid var(--desypher-green-main);
    padding: 10px 20px;
    margin-right: 5px;
    background-color: black;
    border-radius: 10px;
    user-select: none;
    box-shadow: 0 2px 0 #00000033;
    color: var(--font-color);
}
/* #endregion Rules Dropdown Section */

/* #region Main Content */
.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    padding-bottom: 100px;
    padding-top: 150px;
    margin: 100px;
    max-width: 100vw;
    width: 100%;
}
.puzzle-input {
    scale: 1.5;
    background-color: black;
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 50px 25px 10px 25px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    box-shadow: 0 0 10px var(--desypher-green-dark);
    animation: transitionScale .1s forwards;
}
.puzzle-input:nth-child(1) { opacity: 0%; animation-delay: .2s; }
.puzzle-input:nth-child(2) { opacity: 0%; animation-delay: .3s; }
.puzzle-input:nth-child(3) { opacity: 0%; animation-delay: .4s; }
.puzzle-input:nth-child(4) { opacity: 0%; animation-delay: .5s; }
.puzzle-input:nth-child(5) { opacity: 0%; animation-delay: .6s; }
.puzzle-input:hover {
    scale: 2;
}
#correct-answer, #hint-box {
    display: none;
    opacity: 0%;
    z-index: 1000;
    padding: 10px 20px;
    max-width: 200px;
    background: black;
    color: var(--desypher-green-main);
    font-family: monospace, sans-serif;
    outline: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    margin: 30px auto;
    animation: fadeIn 1s forwards;
}
#correct-answer {
    margin: 10px auto;
}
#hint-box {
    opacity: 0%;
    max-width: 500px;
    margin: 10px auto;
    animation: fadeIn 1s forwards;
}
.sypher-allocation-container {
    display: none;
    background-color: black;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px auto;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    max-width: 400px;
    width: 100%;
}
#sypher-allocation-input {
    background: black;
    color: var(--font-color);
    border: 2px solid var(--desypher-green-dark);
    border-radius: 5px;
    text-align: center;
    max-width: 50px;
    width: 100%;
}
#allocation-submit, #allocation-cancel {
    background: black;;
    color: var(--font-color);
    border: 2px solid var(--desypher-green-main);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
}
#allocation-submit:hover, #allocation-cancel:hover {
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    color: var(--font-color);
}
/* #endregion Main Content */

/* #region Game Buttons */
.game-button {
    background-color: var(--desypher-green-main);
    color: var(--font-color);
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'monospace', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}
.game-button:hover {
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    color: var(--font-color);
}
.game-button:active {
    background-color: #194e0f;
    /* Even darker shade when pressed */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.game-button:focus {
    border: 2px solid var(--desypher-green-ultradark);
}
.play-button, #load-button {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px 30px;
    font-size: 24px;
    line-height: 1.25;
}
.play-button {
    opacity: 0%;
    border: none;
    max-width: 700px;
    width: 100%;
    animation-delay: .1s;
    animation: transitionScale .75s forwards, pulse 2s infinite ease-in-out 2.5s;
}
#load-button {
    opacity: 0%;
    background-color: black;
    border-left: var(--desypher-green-main);
    border-right: var(--desypher-green-main);
    border-radius: 5px;
    border-color: var(--desypher-green-main);
    max-width: 500px;
    width: 100%;
    height: 1px;
    animation: transitionUp 1s forwards;
    animation-delay: .5s;
    line-height: 0px;
    padding: 20px 30px;
}
#load-button:hover {
    background-color: var(--desypher-green-main);
}
#retrieve-transaction {
    opacity: 0%;
    width: 750px;
    margin-top: 20px;
    align-self: center;
    background-color: black;
    color: var(--font-color);
    font-family: monospace, sans-serif;
    font-size: 18px;
    text-align: center;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    padding: 10px 20px;
}
.retrieve-transaction-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#cancel-button, #submit-load-button {
    display: none;
    opacity: 0%;
    margin-top: 20px;
    ;
    max-width: 150px;
    max-height: 25px;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    line-height: 0px;
    background-color: black;
    border-color: var(--desypher-green-main);
    border-radius: 5px;
}
#sessions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    background: black;
    max-width: 650px;
    width: 90%;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    align-self: center;
}
#session-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    text-align: center;
}
/* #endregion Game Buttons */

/* #region Word Definition Section */
.word-definition-container {
    opacity: 0%;
    display: none;
    position: absolute;
    background-color: black;
    color: var(--desypher-green-main);
    text-align: left;
    text-shadow: 0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
    color: var(--font-color);
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 900px;
    min-height: 380px;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    animation: fadeIn 1s forwards;
}
.word-defintion-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
#word-definition-button {
    display: none;
    background-color: black;
    color: var(--font-color);
    border: 2px solid var(--desypher-green-main);
    border-radius: 5px;
    color: var(--desypher-green-main);
}
#word-definition-button:hover {
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    cursor: pointer;
    color: var(--font-color);
}
/* #endregion Word Definition Section */

/* #region Error Messages */
.error-message-box {
    opacity: 0%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    text-transform: uppercase;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    width: 100%;
    z-index: 5000;
}
/* #endregion Error Messages */

/* #region Social Media */
.social-media-section {
    display: flex;
    text-align: center;
    align-self: center;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.social-icon {
    margin: 0 10px; /* Spacing between icons */
    color: var(--desypher-green-main);
    font-size: 32px;
    animation: transitionScale 8s;
}
.social-icon:hover {
    color: #dddddd;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
}
/* #endregion Social Media */

/* #region Scrollbar */
::-webkit-scrollbar {
    background: black;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: var(--desypher-green-ultradark);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--desypher-green-dark);
}
/* #endregion Scrollbar */

/* #region Visual Effects */
#rain {
    background: none;
    position: absolute;
    mix-blend-mode: screen;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
/* #endregion Visual Effects */

/* #region Music Player */
.music-controls {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.music-controls button {
    background-color: black;
    color: var(--font-color);
    border: var(--desypher-green-dark) 2px solid;
    border-radius: 2.5px;
    margin: 0 2px;
}
.music-controls button:hover {
    scale: 1.25;
    box-shadow: 0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
}
.music-progress-container {
    width: 100%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    background-color: var(--desypher-green-dark);
    border-radius: 2.5px;
}
.music-progress-bar {
    height: 15px;
    background-color: var(--desypher-green-main);
    width: 0%;
    border-radius: 2.5px;
}
.music-progress-bar:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
}
#song-info {
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
#song-info:hover {
    cursor: pointer;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    overflow: visible;
}
#volume-button {
    color: var(--font-color);
}
#volume-controls {
    background-color: black;
    color: var(--font-color);
    border: var(--desypher-green-dark) 2px solid;
    border-radius: 2.5px;
    margin: 0 2px;
    padding: 3px 4px;
    width: 100%;
    max-width: 100px;
}
.volume-bar {
    background-color: var(--desypher-green-dark); /* Background of the volume bar */
    height: 10px; /* Height of the volume bar */
    width: 100%; /* Full width */
    position: relative;
    cursor: pointer;
}
.volume-indicator {
    background-color: var(--desypher-green-main); /* Indicator color */
    width: 100%; /* Start with full volume */
    height: 100%;
    position: absolute;
    left: 0;
}
.volume-bar :hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
}
/* #endregion Music Player */

/* #region Youtube IFrame */
.youtube-iframe {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    z-index: 1001;
    width: 90%;
    max-width: 1080px;
    overflow: hidden;
    border: var(--desypher-green-main) 2px solid;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    background-color: black;
    animation: fadeIn .5s forwards;
}
#closeButton {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1002;
    padding: 10px 15px;
    border: none;
    background-color: #00000050;
    color: var(--font-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px;
}
/* #endregion Youtube IFrame */

/* #region Sypher Cache */
.sypher-cache-section {
    opacity: 0%;
    position: fixed;
    background-color: black;
    border-radius: 10px;
    border-color: var(--desypher-green-main);
    border-width: 2px;
    border-style: solid;
    max-width: 300px;
    max-height: 25px;
    text-align: center;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: monospace, sans-serif;
    animation: fadeIn 1.25s forwards;
    animation-delay: 1.25s;
}
.sypher-cache-section p {
    margin: 0;
}
#sypher-cache-header {
    font-size: 22px;
}
#sypher-cache-value {
    color: var(--desypher-green-main);
}
.token-price-container {
    opacity: 0%;
    top: 40px;
    left: 0;
    right: 0;
    position: fixed;
    margin: 20px auto;
    text-align: center;
    font-family: monospace, sans-serif;
    background-color: black;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    max-width: 200px;
    max-height: 20px;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}
.token-price-container p {
    margin: 0;
}
/* #endregion Sypher Cache */

/* #region Settings Menu */
#settings-button {
    opacity: 0%;
    position: fixed;
    top: 65px;
    left: 25px;
    z-index: 1000;
    color: var(--desypher-green-dark);
    animation: transitionRight 1s forwards;
    animation-delay: .5s;
}
#settings-button:hover {
    color: var(--desypher-green-main);
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    cursor: pointer;
}
.settings-menu-container {
    display: none;
    opacity: 0%;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid var(--desypher-green-main);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    font-family: monospace, sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 550px;
    width: 90vw;
    height: 100%;
    z-index: 5001;
}
#mute-button {
    z-index: 1000;
    color: var(--desypher-green-main);
}
#mute-button:hover {
    color: var(--desypher-green-main);
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    cursor: pointer;
}
#vfx-toggle {
    z-index: 1001;
    color: var(--desypher-green-main);
}
.color-slider-container {
    position: relative;
    margin: 15px auto;
    width: 60%;
    height: 10px;
    border-radius: 100px;
    background: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}
.color-slider-track {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: none;
    top: 8px;
}
.color-slider-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--font-color);
    border: 5px solid transparent;
    border-radius: 100px;
    box-sizing: border-box;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: border-width 0.15s ease-in-out;
}
#default-color-button {
    background-color: black;
    color: var(--font-color);
    margin: 15px;
    border: 2px solid var(--desypher-green-main);
    font-family: monospace, sans-serif;
    border-radius: 5px;
    z-index: 1001;
}
#default-color-button:hover {
    background: var(--desypher-green-main);
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    cursor: pointer;
}
.status-colors-container {
    margin: 20px auto;
}
.status-settings-button {
    background-color: black;
    color: var(--font-color);
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.status-settings-button:hover {
    background-color: var(--button-color);
    box-shadow: 0 0 10px var(--button-color), 0 0 20px var(--button-color);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#settings-correct-button {
    --button-color: var(--correct);
    border-color: var(--correct);
}
#settings-misplaced-button {
    --button-color: var(--misplaced);
    border-color: var(--misplaced);
}
#settings-incorrect-button {
    --button-color: var(--incorrect);
    border-color: var(--incorrect);
}
.status-color-picker-container {
    display: none;
    margin: 20px auto;
    animation: transitionScale 1s forwards;
}
.status-color-picker-button {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.status-color-picker-button:hover {
    scale: 1.1;
}
#red-button {
    background-color: red;
}
#orange-button {
    background-color: orange;
}
#yellow-button {
    background-color: yellow;
}
#green-button {
    background-color: chartreuse;
}
#cyan-button {
    background-color: cyan;
}
#blue-button {
    background-color: blue;
}
#purple-button {
    background-color: purple;
}
#pink-button {
    background-color: pink;
}
/* #endregion Settings Menu */

/* #endregion Home Page */

/* #region About Page */
.about-page-body {
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
    padding-left: 20px;
}
.what-is-desypher-section, .getting-started-section, .funding-wallet-section, .roadmap-section, .disclaimer-section, .contact-section {
    opacity: 0%;
    position: relative;
    top: 5px;
    background-color: #000000a6;
    border-left: 2px solid var(--glow-green-dark);
    max-width: 650px;
    width: 100%;
    text-align: left;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    padding: 12px 16px;
    z-index: 1;
    margin-bottom: 20px;
}
.what-is-desypher-section {
    animation: tvScreenOn 0.5s forwards;
    animation-delay: 0.25s;
}
.getting-started-section {
    animation: tvScreenOn 0.5s forwards;
    animation-delay: 0.5s;
}
.funding-wallet-section {
    animation: tvScreenOn 0.5s forwards;
    animation-delay: 0.75s;
}
.wallet-buttons, .dex-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.wallet-button, .dex-button {
    opacity: 0%;
    border: none;
    max-width: 200px;
    max-height: 75px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}
.metamask-button {
    background-color: #f6851b;
    animation: transitionRight 1s forwards;
    animation-delay: 1s;
}
.metamask-button:hover {
    box-shadow: 0 0 10px #f6851b, 0 0 20px #a85b12;
}
.coinbase-button {
    background: var(--coinbase-blue);
    animation: transitionUp 1s forwards;
    animation-delay: 1.15s;
}
.coinbase-button:hover {
    box-shadow: 0 0 10px #0052ff, 0 0 20px #002e92;
}
.rabby-button {
    background: linear-gradient(to right, #7B7FFF, #86A2FF);
    animation: transitionLeft 1s forwards;
    animation-delay: 1.3s;
}
.rabby-button:hover {
    box-shadow: 0 0 10px #7B7FFF, 0 0 20px #86A2FF;
}
.zerion-button {
    background: #2461ed;
    animation: transitionUp 1s forwards;
    animation-delay: 1.45s;
}
.zerion-button:hover {
    box-shadow: 0 0 10px #2461ed, 0 0 20px #1a3f9b;
}
.rainbow-button {
    background: linear-gradient(to right, #001e59, #174298);
    animation: transitionRight 1s forwards;
    animation-delay: 1.5s;
}
.rainbow-button:hover {
    box-shadow: 0 0 10px #001e59, 0 0 20px #174298;
}
.trust-button {
    background: white;
    animation: transitionLeft 1s forwards;
    animation-delay: 1.55s;
}
.trust-button:hover {
    box-shadow: 0 0 10px white, 0 0 20px #d3d3d3;
}
.uniswap-button {
    width: 1500px;
    background: #F50DB4;
    animation: transitionUp 1s forwards;
    animation-delay: 1.45s;
}
.uniswap-button:hover {
    box-shadow: 0 0 10px #F50DB4, 0 0 20px #B90A9C;
}
.roadmap-section {
    animation: transitionUp 0.5s forwards;
    animation-delay: 2s;
}
.roadmap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}
.roadmap-line {
    opacity: 0%;
    position: absolute;
    width: 4px;
    height: 75%;
    background-color: var(--desypher-green-main);
    z-index: 0;
    animation: transitionWipeDown 1.5s forwards;
    animation-delay: 2.75s;
}
.roadmap-item-container {
    opacity: 0%;
    background-color: black;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--desypher-green-main);
    padding: 5px 5px;
    margin: 10px 0px;
    text-align: center;
    z-index: 1;
    width: 50%;
}
.roadmap-item-container:hover {
    width: 75%;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    cursor: pointer;
}
.roadmap-container .roadmap-item-container {
    animation: fadeIn 0.25s forwards;
}
.roadmap-container .roadmap-item-container:nth-child(1) {
    animation-delay: 2.25s;
}
.roadmap-container .roadmap-item-container:nth-child(2) {
    animation-delay: 2.5s;
}
.roadmap-container .roadmap-item-container:nth-child(3) {
    animation-delay: 2.75s;
}
.roadmap-container .roadmap-item-container:nth-child(4) {
    animation-delay: 3s;
}
.roadmap-container .roadmap-item-container:nth-child(5) {
    animation-delay: 3.25s;
}
.roadmap-container .roadmap-item-container:nth-child(6) {
    animation-delay: 3.5s;
}
.roadmap-container .roadmap-item-container:nth-child(7) {
    animation-delay: 3.75s;
}
.contact-section {
    animation: transitionUp 0.5s forwards;
    animation-delay: 4s;
}
.disclaimer-section {
    animation: transitionUp 0.5s forwards;
    animation-delay: 4.5s;
}
.tukyo-logo-section, .motor-logo-section, .rohan-logo-section {
    display: flex;
    align-items: center;
}
.tukyo-logo, .motor-logo, .rohan-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/* #endregion About Page */

/* #region Tokenomics Page */
.tokenomics-page-body {
    display: flex;
    padding: 20px;
    padding-bottom: 55px;
}
.tokenomics-main-section, .distribution-section, .bubblemap-section {
    opacity: 0%;
    position: relative;
    top: 5px;
    background-color: #000000a6;
    border-left: 2px solid var(--glow-green-dark);
    max-width: 600px;
    width: 100%;
    max-height: 800px;
    text-align: left;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    padding: 12px 16px;
    z-index: 1;
    margin-bottom: 20px;
    animation: tvScreenOn 0.5s forwards;
}
.tokenomics-main-section h1, .distribution-section h1, .bubblemap-section h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.tokenomics-main-section {
    animation-delay: 0.1s;
}
.distribution-section {
    animation-delay: 0.5s;
}
.bubblemap-section {
    animation-delay: 1s;
}
#bubblemap {
    border: 2px solid var(--desypher-green-main);
    width: 100%;
    min-height: 500px;
}
.tokenomics-sub-header {
    font-weight: bold;
    font-size: 18px
}
#copy-icon {
    opacity: 0%;
    animation: transitionScale .5s forwards;
    animation-delay: 1.25s;
}
#copy-icon:hover {
    text-shadow: 0 0 10px var(--font-color), 0 0 20px var(--font-color);
    color: var(--font-color);
    cursor: pointer;
}
.token-links {
    display: flex;
}
#token-link {
    width: 32px;
    height: auto;
    margin: 5px;
}
#token-link:hover {
    filter: drop-shadow(0 0 5px var(--glow-green-main)) drop-shadow(0 0 10px var(--glow-green-secondary)) brightness(120%) saturate(150%);
    cursor: pointer;
    scale: 1.1;
}
#distributionChart {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    max-height: 350px;
    padding: 5px;
    box-sizing: border-box;
}
.distribution-values:hover {
    cursor: pointer;
}
/* #endregion Tokenomics Page */

/* #region Leaderboards Page */
.leaderboards-page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.popular-words, .top-players, .biggest-winners, .biggest-losers {
    opacity: 0%;
    flex: 1;
    max-width: 500px;
    min-width: 500px;
    text-align: left;
    font-family: monospace sans-serif;
    margin: 10px 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    animation: fadeIn .5s forwards;
}
.leaderboards-list {
    opacity: 0%;
    background-color: black;
    border-top: 2px solid var(--desypher-green-dark);
    margin-bottom: 10px;
    color: var(--font-color);
    text-shadow:  0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
    animation: tvScreenOn .5s forwards;
    animation-delay: .75s;
}
.leaderboards-section-header {
    opacity: 0%;
    margin: 10px;
    animation: chromaWarp .5s forwards;
    animation-delay: .5s;
}
.leaderboard-icon {
    float: center;
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
}
@keyframes chromaWarp {
    0% {
        opacity: 0%;
        text-shadow: -1px 0 red, 2px 0 cyan;
    }
    49% {
        opacity: 35%;
        text-shadow: -1px 0 red, 2px 0 cyan;
    }
    50% {
        opacity: 50%;
        text-shadow: 10px 0 red, -8px 0 cyan;
    }
    74% {
        opacity: 50%;
        text-shadow: 10px 0 red, -8px 0 cyan;
    }
    75% {
        opacity: 100%;
        text-shadow: -2px 0 red, 2px 0 cyan;
    }
    100% {
        opacity: 100%;
        text-shadow:  0 0 5px var(--glow-green-main), 0 0 10px var(--glow-green-secondary);
    }
}
.top-player-container {
    position: relative;
}

#master-sypher-leaderboard-icon {
    position: absolute;
    width: 5%;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}
/* #endregion Leaderboard Section */

/* #region Airdrop Page */
.airdrop-page-body {
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
    padding-left: 20px;
}
.airdrop-distribution-container, .about-profectio-container {
    opacity: 0%;
    position: relative;
    background-color: #000000a6;
    border-left: 2px solid var(--glow-green-dark);
    max-width: 700px;
    width: 90%;
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    font-family: monospace, sans-serif;
    padding: 12px 16px;
    z-index: 1;
    margin-bottom: 20px;
    animation: tvScreenOn .5s forwards;
}
.about-profectio-container {
    animation-delay: .25s;
}
.profectio-preview {
    max-width: 700px;
    width: 98%;
    border: 2px solid var(--desypher-green-main);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
}
/* #endregion Airdrop Page */

/* #region Whitepaper Page */
.whitepaper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 10px;
}
.whitepaper-page {
    max-width: 1920px;
    width: 90%;
    margin: 10px auto;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
}
/* #endregion Whitepaper Page */

/* #region Changelog Page */
.changelog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 10px;
}
.changelog-item {
    opacity: 0%;
    max-width: 1920px;
    width: 90%;
    margin: 10px auto;
    border: 2px solid var(--desypher-green-main);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    background: black;
    padding: 10px 20px;
    animation: transitionUp 1s forwards;
}
#ver-0-1-0 { animation-delay: 0.25s; }
#ver-0-1-1 { animation-delay: 0.5s; }
#ver-0-1-2 { animation-delay: 0.75s; }
#ver-0-1-3 { animation-delay: 1s; }
#ver-0-1-4 { animation-delay: 1.25s; }
#ver-0-1-5 { animation-delay: 1.5s; }
#ver-0-1-6 { animation-delay: 1.75s; }
#ver-0-1-7 { animation-delay: 2s; }
#ver-0-1-8 { animation-delay: 2.25s; }
#ver-0-1-9 { animation-delay: 2.5s; }
#ver-1-0-0 { animation-delay: 2.75s; }
#ver-1-1-0 { animation-delay: 3s; }
/* #endregion Changelog Page */

/* #region Footer Section */
.home-page-footer, .about-page-footer, .tokenomics-page-footer, .leaderboards-footer, .four-oh-four-page-footer, .airdrop-page-footer, .whitepaper-page-footer, .changelog-footer {
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-transform: uppercase;
    background-color: black;
}
.home-page-footer {
    height: 80px;
    background-color: black;
    border-top: var(--desypher-green-dark) 2px solid;
    animation: homeFooterIn .5s forwards;
}
.about-page-footer, .tokenomics-page-footer, .leaderboards-footer, .four-oh-four-page-footer, .airdrop-page-footer, .whitepaper-page-footer, .changelog-footer {
    height: 45px;
    background-color: black;
    border-top: 2px solid var(--desypher-green-main);
    animation: otherFooterIn .5s forwards;
}
.version-number {
    position: fixed;
    bottom: 0;
    left: 10px;
    font-size: 12px;
    font-family: monospace, sans-serif;
    color: var(--desypher-green-dark);
    z-index: 1000;
}
@keyframes homeFooterIn {
    0% {
        height: 0px;
        border-top: var(--desypher-green-bright) 0px solid;
        box-shadow: 0 0 0px var(--glow-green-main), 0 0 00px var(--glow-green-secondary);
        filter:sepia(0%)
    }
    50% {
        filter:sepia(50%);
        border-top: var(--desypher-green-bright) 50px solid;
    }
    75% {
        box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    }
    100% {
        border-top: 2px solid var(--desypher-green-dark);
        box-shadow: none;
        height: var(--footer-height);
        filter:sepia(0%)
    }
}
@keyframes otherFooterIn {
    0% {
        height: 0px;
        border-top: var(--desypher-green-bright) 0px solid;
        box-shadow: 0 0 0px var(--glow-green-main), 0 0 00px var(--glow-green-secondary);
        filter:sepia(0%)
    }
    50% {
        filter:sepia(50%);
        border-top: var(--desypher-green-bright) 45px solid;
    }
    75% {
        box-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
    }
    100% {
        border-top: 2px solid var(--desypher-green-dark);
        box-shadow: none;
        height: 45px;
        filter:sepia(0%)
    }

}

/* #region Page Navigation */
.page-navigation-section {
    margin-top: 40px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 100;
    color: var(--desypher-green-main);
    animation: transitionScale 3.5s;
}
.page-navigation-section a {
    text-decoration: none;
    color: inherit;
}
.page-navigation-section a:hover {
    cursor: pointer;
    color: var(--desypher-green-main);
    text-shadow: 0 0 10px var(--glow-green-main), 0 0 20px var(--glow-green-secondary);
}
/* #endregion Page Navigation */

/* #endregion Footer Section */

/* #region Loading Bar */
.loading-bar, .loading-bar div {
    box-sizing: border-box;
}
.loading-bar {
    display: none;
    top: 55%;
    left: 50%;
    position: fixed;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}
.loading-bar div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-bar div:nth-child(1) {
    color: var(--desypher-green-main);
    left: 8px;
    animation: loading-bar1 0.6s infinite;
}
.loading-bar div:nth-child(2) {
    color: var(--desypher-green-main);
    left: 8px;
    animation: loading-bar2 0.6s infinite;
}
.loading-bar div:nth-child(3) {
    color: var(--desypher-green-main);
    left: 32px;
    animation: loading-bar2 0.6s infinite;
}
.loading-bar div:nth-child(4) {
    color: var(--desypher-green-main);
    left: 56px;
    animation: loading-bar3 0.6s infinite;
}
@keyframes loading-bar1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading-bar3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loading-bar2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
/* #endregion Loading Bar */

/* #region Animations */
@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transitionLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes transitionRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes transitionScale {
    from {
        opacity: 0;
        scale: 1.15;
    }
    to {
        opacity: 1;
        transform: scale(var(--default-scale));
    }
}
@keyframes transitionBaseLogo {
    0% {
        opacity: 0;
        scale: 0.01;
    }
    50% {
        opacity: .5;
        scale: 0.25;
    }
    100% {
        opacity: 1;
        scale: 0.2;
    }
}
@keyframes fall {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(50vh);
    }
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
@keyframes tvScreenOn {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 1;
        transform: scaleY(1.1);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
@keyframes tvScreenOff {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(0);
    }
}
@keyframes foldOut {
    0% {
        transform: scaleY(0);
        height: 0;
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        height: auto;
        opacity: 1;
    }
}
@keyframes foldIn {
    0% {
        transform: scaleY(1);
        height: auto;
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        height: 0;
        opacity: 0;
    }
}
@keyframes foldInRemove {
    0% {
        transform: scaleY(1);
        height: auto;
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        height: 0;
        opacity: 0;
        display: none;
    }
}
@keyframes transitionWipeLeft {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        opacity: 0;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
}
@keyframes transitionWipeDown {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
}
@keyframes transitionWipeCenter {
    0% {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        opacity: 0;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }

}
@keyframes sheen {
    0% {
        left: -75%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -75%;
    }
}
@keyframes glow-sheen {
    0% {
        color: var(--desypher-green-dark);
        text-shadow: 0 0 3px #38e01600;
        opacity: 0.75;
    }
    50% {
        color: var(--desypher-green-main);
        text-shadow: 0 0 10px #38e016be 0 0 20px #35ff0d46;
        opacity: 1;
    }
    100% {
        color: var(--desypher-green-dark);
        text-shadow: 0 0 3px #38e01600;
        opacity: 0.75;
    }
}
@keyframes sheenFont {
    0%, 100% {
        color: var(--desypher-green-main);
        text-shadow: -1px -1px 0px rgba(255,255,255,0), 1px 1px 0px rgba(0,0,0,0);
    }
    50% {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.5), -1px -1px 1px rgba(0,0,0,0.5);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: none;
    }
    50% {
        opacity: 0.5;
        filter: grayscale(100%) contrast(150%);
        filter: blur(2px) brightness(75%);
        box-shadow: 0 0 10px var(--desypher-green-main), 0 0 20px #00ff0053;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInFont {
    0% {
        opacity: 0;
        filter: none;
    }
    50% {
        opacity: 0.5;
        filter: grayscale(100%) contrast(150%);
        filter: blur(2px) brightness(75%);
        text-shadow: 0 0 10px var(--desypher-green-main), 0 0 20px #00ff0053;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        filter: grayscale(100%) contrast(150%);
        filter: blur(2px) brightness(75%);
        box-shadow: 0 0 10px var(--desypher-green-main), 0 0 20px #00ff0053;
    }
    100% {
        opacity: 0;
        filter: none;
        display: none;
    }

}
@keyframes fadeOutFont {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        filter: grayscale(100%) contrast(150%);
        filter: blur(2px) brightness(75%);
        text-shadow: 0 0 10px var(--desypher-green-main), 0 0 20px #00ff0053;
    }
    100% {
        opacity: 0;
        filter: none;
        display: none;
    }

}
#lazerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Ensure the container doesn't interfere with mouse events */
}
.lazer {
    position: absolute;
    height: 2px; /* Line thickness */
    background: var(--font-color); /* Initial color, will be set by JS */
    transform-origin: left center; /* Ensures rotation happens from one end of the line */
}
/* #endregion Animations */

/* #region Responsive Design */
@media (max-width: 775px) {
    /* #region Home Page Adjustments */
    .main-content {
        margin: 50px;
    }
    .game-logo {
        max-width: 90%;
        margin-top: 25px;
        margin-bottom: 5px;
        padding-bottom: 20px;
    }
    .game-button {
        margin-top: 20px;
    }
    .input-fields {
        padding-top: 10px;
    }
    #inputContainer {
        background: black;
        border: solid 2px var(--desypher-green-dark);
        box-shadow: 0 0 10px var(--desypher-green-dark);
        border-radius: 10px;
        width: 80%;
        margin: 25px auto;
        padding: 20px 10px;
    }
    .wallet-connection-section{
        top: 30px;
        max-width: 135px;
    }
    #connect-button {
        padding: 5px 10px;
        font-size: 12px;
        text-align: center;
    }
    .how-to-play-button {
        padding: 5px 10px;
        font-size: 10px;
        top: 30px;
        max-width: 135px;
        width: 100%;
    }
    #wallet-details-section {
        font-size: 10px;
    }
    #claim-rewards-button {
        font-size: 10px;
    }
    .puzzle-input {
        scale: 1;
        margin: 0 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .puzzle-input:hover {
        scale: 1.25;
    }
    .play-button, #load-button {
        width: 100vw;
        max-width: 100vw;
        font-size: 14px;
        padding: 15px 20px;
        border-radius: 0px;
        margin-top: 100px;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        animation: tvScreenOn 2.5s forwards;
    }
    .play-button {
        font-size: 18px;
    }
    #load-button {
        margin-top: 0px;
        animation-delay: .25s;
    }
    .word-definition-container {
        top: 45%;
        max-width: 775px;
        width: 100%;
    }
    #base-logo {
        max-width: 0%;
        max-height: 0%;
        top: 0px;
        right: 0px;
    }
    #keyboard-button {
        left: 50px;
        top: 65px;
      }
    #keyboard-helper {
        scale: 55%;
    }
    .how-to-play-container {
        max-width: 775px;
        width: 90%;
        font-size: 12px;
    }
    .sypher-cache-section {
        top: 0px;
        width: 100%;
        max-width: 100vh;
        border-radius: 0px;
        border-left: none;
        border-right: none;
        border-top: black;
    }
    #sypher-cache-header {
        font-size: 14px;
    }
    #sypher-cache-value {
        font-size: 14px;
        color: var(--desypher-green-main);
    }
    .token-price-container {
        top: 0px;
        right: 25px;
        left: auto;
        margin: 0px;
        border: none;
        font-size: 14px;
    }
    #retrieve-transaction {
        width: 250px;
        margin-top: none;
        padding: 5px 20px;
    }
    .version-number {
        top: 0;
        color: var(--desypher-green-main);
    }
    /* #endregion Home Page Adjustments */

    /* #region Tokenomics Page Adjustments */
    #address-text, #copy-icon {
        font-size: 12px;
    }
    /* #endregion Tokenomics Page Adjustments */
}
@media (max-width: 485px) {
    .how-to-play-button {
        top: 30px;
        left: 5px;
    }
    #connect-button {
        top: 30px;
        right: 5px;
    }
    #wallet-details-section {
        top: 55px;
        right: 3px;
    }
    #keyboard-helper {
        scale: 40%;
    }
    .distribution-section {
        max-height: fit-content;
    }
    .main-content {
        margin: 10px;
    }
    .word-definition-container {
        top: 55%;
        max-width: 485px;
        width: 100%;
    }
    .mobile-game-logo-container {
        display: flex;
    }
    #game-logo, #master-sypher-logo {
        display: none;
    }
    #mobile-game-logo {
        display: block;
    }
    #sypher-cache-header {
        font-size: 12px;
    }
    #sypher-cache-value {
        font-size: 12px;
        color: var(--desypher-green-main);
    }
    .token-price-container {
        font-size: 12px;
        right: 10px;
    }
    .sypher-allocation-container {
        max-width: 250px;
        margin-top: 10px;
    }
}
/* #endregion Responsive Design */